/* Importar una fuente desde goolge font  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Selectores de tipo etiqueta */

body {
    background-color: gray;
}

h1 {
    color: #38b2bb;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}

/* Para centrar imagen  */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* Selectores de tipo clase  */

.mi_clase {
    color: rgb(51, 46, 100);
    font-size: 40px;
}

.contenido{
    color:rgb(51, 48, 70);
    font-size: 30px;
}
.my_list {
    color: #0aeaf1;
    font-family: Georgia, 'Times New Roman', Times, serif, cursive;
    font-weight:bold;
    font-size:xx-large;
}

/* Selector de tipo id  */

#perrito_bailando {
    width: 300px;
}

#pug {
    width: 300px;
}
#amorcito {
    width: 300px;
}